header{
    padding: 10px;
    background-color: rgb(233, 110, 22);
    display: flex;
    justify-content: space-between;

    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}

header ul{
    display: flex;
    gap: 10px;
    list-style: none;
    color: white;
}

main{
    margin-top: 100px;
}

section{
    display: flex;
    justify-content: space-around;
   
}

.card{
    position: relative;
}

.card__icon{
    position: absolute;
    right: 0px;
    top: 30px;
    border-style: hidden;
    display: flex;
    text-align: center;
    background-color: white;
    padding: 10px;
}

.card__icon svg{
    width: 20px;

}
.card__icon svg:hover{
    fill: red;
}
main nav{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.red{
    color: red;
    
}

footer{
    display: flex;
    margin-top: 50px;
    height: 120px;
    background-color: black;
    color: white;
}

footer ul{
    display: flex;
    gap: 10px;
    list-style: none;
}

h4{
    margin-left: 40px;
}



